#header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#point {
    display: flex;
    justify-content: center;
}

#message {
    font-size: 130%;
    display: flex;
    justify-content: center;
}
