* {
    font-family: "Helvetica Neue";
}

.hcontents {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

/* MDBInputを使うと付与される.md-formを打ち消す */
.hcontents .md-form {
    margin: 0;
}

.hcontents img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

.hcontents h1 {
    margin: 16px 0px;
}

.hbtn {
    width: 300px;
    max-width: 300px;
    border-radius: 15px;
}

.hinput {
    width: 300px;
    max-width: 300px;
}

.hrow {
    display: flex;
    justify-content: center;
}

header {
    margin: 10px;
}

header .hrow {
    align-items: baseline;
}

footer .hrow > * {
    flex: auto;
    width: 50%;
    max-width: 200px;
}

.message {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.point {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 35px;
    font-weight: bold;
}

.player {
    width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding: 5px;
}

.htable {
    max-width: 400px;
    margin: 0 auto;
}

.winner td{
    font-size: 120%;
    font-weight: bold;
    background-color: rgba(76, 175, 80, 0.3);
}

.loser td{
    font-size: 120%;
    font-weight: bold;
    background-color: rgba(233, 30, 99, 0.3);
}

.butting {
    background-color: rgba(0,0,0,0.05);
}