/* 共通 */
* {
    font-family: "Helvetica Neue";
}


/* component */
.hbtn {
    width: 300px;
    max-width: 300px;
    border-radius: 15px;
}

.hinput {
    width: 300px;
    max-width: 300px;
}

.hrow {
    display: flex;
    justify-content: center;
}

.message {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.hand {
    font-size: 16px;
    padding: 10px;
    max-width: 80px;
}


/* ログイン画面 */
.hlogin {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.hlogin h1 {
    margin: 16px 0px;
}

.hlogin img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}    

.hlogin .md-form {
    margin: 0; /* MDBInputを使うと付与される.md-formを打ち消す */
}


/* ヘッダー */
header {
    margin: 10px;
}

header .hrow {
    align-items: baseline;
}

.point {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 35px;
    font-weight: bold;
}


/* フッター */
footer .hrow > * {
    flex: auto;
    width: 50%;
    max-width: 200px;
}


/* テーブル */
.htable *{
    max-width: 400px;
    margin: 0 auto;
    font-weight: normal;
}

.htable th {
    font-size: 18px;
}

.htable td {
    font-size: 16px;
}

.winner td{
    font-size: 120%;
    font-weight: bold;
    background-color: rgba(76, 175, 80, 0.3);
}

.loser td{
    font-size: 120%;
    font-weight: bold;
    background-color: rgba(233, 30, 99, 0.3);
}

.butting {
    background-color: rgba(0,0,0,0.05);
}


/* 手札 */
.handbox {
    display: grid;
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
}