#message {
    color: #4A4A4A;
    margin: 16px 0px;
    font-weight: 700;
    font-family: "Helvetica Neue";
}

#submit {
    text-align: start;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}